


<h2>Search</h2>

<table border="0" bordercolor="red">
    <tr>
        <td style="width: 300px;">Enter Client ID to find!</td>
        <td>
            <asp:TextBox ID="txtID" runat="server"></asp:TextBox>
        </td>
    </tr>
</table>
